<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Détails de tâche</title>
    <style>
        @font-face {
            font-family: 'Sarpanch-Regular';
            src: url('/Sarpanch-Regular.ttf') format('truetype');
        }
        body {
            font-family: "Montserrat";
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        .container {
            width: 100%;
            max-width: 1440px;
            margin: 0 auto;
            background-color: #ffffff;
            border-radius: 0px;
            overflow: hidden;
        }
        .header {
            position: relative;
            /*background: url('https://homeren.fr/icons/bg-footer.png');
            background-position: bottom center;
            background-repeat: no-repeat;
            background-size: cover;*/
            background-color: #555;
            width:auto;
            height:100%;
            font-family: 'Sarpanch-Regular' !important;
            align-items: center !important;
            padding: 20px;
            text-align: center !important;
            max-width: 100%;
            margin: auto;
        }
        .header img {
            width: 130px;
            height: auto;
            text-align: end;
            float: right;
            padding: 10px;
        }
        .content {
            max-width: 1200px;
            margin: auto;
            padding: 20px;
        }
        .header div p{ 
            text-align: left;
            color: white;
            margin-top: 0px; margin-bottom: 0px;
            font-family: 'Montserrat' !important;
        }

        h1 {
            font-family: 'Montserrat' !important;
            text-align: left;
            margin-top: 0px;
            margin-bottom: 2px;
            width: 100%;
            color: #ffc735;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        table th, table td {
            padding: 10px;
            text-align: left;
        }
        table th {
            color: #555;
            font-size: 14px;
            border-bottom: 2px solid #ffc735;
        }
        .footer {
            /*background: url('https://homeren.fr/icons/bg-2-ftr.png');
            background-position: top center;
            background-repeat: no-repeat;
            background-size: cover;*/
            width:auto;
            height:100%;
            background-color: #555;
            display: flex;
            color: white;
            text-align: center;
            padding: 20px;
            margin-top: 0px;
        }
        .footer p{margin-bottom: 0px;}
        .col-ftr{width:33%;float:left;}
        .footer a {
            margin: 0 10px;
            color: white;
            text-decoration: none;
        }
        .footer img {
            width: fit-content;
            height: 24px;
            margin: 0 5px;
        }
        table{background-color: #fbfbfb;}
        table tr td {
            padding: 10px;
         }
 
         tr:nth-child(even) {
    background-color: #f0f0f0 !important;
}

 tr:nth-child(odd) {
    background-color: #ffffff !important; }
        #triangle-code{
 height : 0;
 width : 0;
 margin: 0 auto;
    display: block;
    border-top: 29px solid #555555;
    border-right: 181px solid transparent;
    border-left: 181px solid transparent;
}
#triangle-code2{
 margin: 0 auto;
 display: block;
 height : 0;
 width : 0;
 border-right : 181px solid transparent;
 border-bottom : 29px solid #555;
 border-left : 181px solid transparent;
}  
    </style>
</head>
<body>
    <div class="container">
        <!-- Header -->
        <div class="header">
            <div style="margin:auto;max-width:1300px;display: flex !important;justify-content: space-between !important;align-items: center !important;">
                <div style="width: 50%;margin-top: 3%;  ">
                   <h1> <%= tache.Travail.Titre %></h1>
                   <p><strong>Date</strong> : <%= currentDate %></p>
                </div>
                <div style="width: 50%;">
                <img src="https://homeren.fr/icons/logo.png" alt="Logo du site">      
            </div>
        </div>       
        </div>
        <div id="triangle-code"></div>

        <!-- Main Content -->
        <div class="content">
            
            Description: <%- tache.Travail.Description %><br>
            Prix: <%= prix %>€<br>
            <p><strong>Récap :</strong></p>
            <p>
                <%- formuleHtml %>
            </p>

        </div>
<div>
    <p style="font-family:'Montserrat';color:#ffc637;text-align: center;font: 700;">L’equipe HomeRen vous remercie</p>
</div>
        <!-- Footer -->
        <div id="triangle-code2"></div>
        <div class="footer">

            <div class="col-ftr">
                <img src="https://homeren.fr/icons/tel.png"/>
                <p>02 00 00 00 00</p>
            </div>
            <div class="col-ftr">
                <img src="https://homeren.fr/icons/address.png"/>
                <p>21 place de la République<br>75003 Paris</p>
            </div>
            <div class="col-ftr">
                <img src="https://homeren.fr/icons/email.png"/>
                <p>contact@homeren.fr</p>
            </div>
        </div>
    </div>
</body>
</html>
